# === Python ===
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.env

# === App runtime folders ===
input/
output/
logs/
*.log

# === Tessdata (models) ===
tessdata_best/*.traineddata
tessdata_best/**/*.traineddata

# === OS / IDE ===
.DS_Store
Thumbs.db
.vscode/
.idea/

# === Local GUI settings ===
settings.json
